.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding-inline-start: 1rem;
  min-width: 15rem;
  background-color: var(--primary-color-1);
  color: var(--text-menu-color);
  height: 100vh;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 2rem;
  position: relative;
  z-index: 1;

  h1 {
    margin-block-start: -0.5rem;
  }
}

.menu-icon {
  display: none;
  background-color: transparent;
  border: none;

  svg {
    width: 1.5rem;
  }
}

.nav-list {
  list-style-type: none;

  li {
    position: relative;
  }

  .nav-item-container {
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    padding-block: 1rem;
    padding-inline-start: 1.5rem;
    position: relative;
    z-index: 1;

    &.selected {
      border-radius: -2rem;
      background-color: var(--bg-body);
      color: var(--primary-color-1);

      & ~ .reverse-radius {
        display: block;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
  }

  .nav-item-container:not(.selected) a:hover {
    color: var(--text-menu-color-hover);
  }
}

.reverse-radius {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: none;
  height: 7rem;
  aspect-ratio: 1/1;
  background-color: var(--bg-body);

  &::before {
    content: "";
    position: absolute;
    top: -35%;
    height: 70%;
    width: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: var(--primary-color-1);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -35%;
    height: 70%;
    width: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: var(--primary-color-1);
  }
}

@media screen and (min-width: 850px) {
  #app {
    padding-inline-start: 15.5rem;
  }
}
@media screen and (max-width: 850px) {
  .reverse-radius {
    display: none !important;
  }

  .page-header {
    padding-inline: 1rem;
    height: unset;
    width: 100%;
    border-radius: 0;
  }

  #app {
    padding-block-start: 4rem;
  }

  .header-top {
    padding-block: 1rem;
    h1 {
      font-size: 1.75rem;
    }
  }

  .menu-icon {
    display: block;
    cursor: pointer;

    path {
      transition: fill var(--transition-speed-fast);
    }

    &:hover svg path {
      fill: var(--text-menu-color-hover);
    }
  }

  #page-nav {
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows var(--transition-speed-slow);

    &[aria-expanded="true"] {
      grid-template-rows: 1fr;
    }
  }

  .page-nav-wrapper {
    overflow: hidden;
  }

  .nav-list {
    padding-block-start: 0.5rem;
    padding-block-end: 2rem;
  }

  .nav-item-container {
    border-radius: 10rem;
  }
}
