@import "../Common/Components/PageHeader/pageHeader.style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-1: #265267;
  --text-menu-color: white;
  --text-menu-color-hover: rgb(221, 221, 221);
  --text-header-color-1: rgb(58, 59, 76);
  --text-content-color-1: rgb(94, 96, 104);
  --bg-body: #c8e1ed;
  --bg-content: white;
}

:root {
  --transition-speed-fast: 0.15s;
  --transition-speed-avg: 0.3s;
  --transition-speed-slow: 0.5s;
}

body {
  min-height: 100vh;
  background-color: var(--bg-body);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

input,
textarea,
button {
  font: inherit;
}

img {
  display: block;
  width: 100%;
}

#app {
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}
