@import "../Partials/PageHeader/pageHeader.style.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(0.7rem, calc((100vw - 100px) * 0.035), 1rem);
}

:root {
  --primary-color-1: #265267;

  --bg-body: #c8e1ed;
  --bg-content: white;

  --border-header-color-1: rgb(227, 227, 227);
  --border-table-1: gray;
  --border-content-menu-btn-active: rgb(182, 182, 182);

  --bg-content-menu-btn: rgb(250, 250, 250);
  --bg-content-menu-btn-hover: rgb(240, 240, 240);
  --bg-content-menu-btn-active: rgb(255, 255, 255);

  --text-content-color-1: rgb(94, 96, 104);
  --text-content-menu-btn: rgb(155, 157, 158);
  --text-content-menu-btn-hover: rgb(121, 124, 125);
  --text-content-menu-btn-active: rgb(58, 59, 76);
  --text-header-color-1: rgb(58, 59, 76);
  --text-menu-color: white;
  --text-menu-color-hover: rgb(221, 221, 221);
  --text-table-content-color: rgb(58, 59, 76);

  --color-ok: green;
  --color-ok-hover: rgb(0, 92, 0);
  --color-warning: red;
  --color-warning-hover: rgb(202, 0, 0);

  --shadow-content: rgba(0, 0, 0, 0.08);
}

:root {
  --transition-speed-fast: 0.15s;
  --transition-speed-avg: 0.3s;
  --transition-speed-slow: 0.5s;
}

body {
  min-height: 100vh;
  background-color: var(--bg-body);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: var(--text-content-color-1);
}

input,
textarea,
button {
  font: inherit;
}

img {
  display: block;
  width: 100%;
}

#app {
  display: flex;
  min-height: 100vh;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }
}

main {
  flex: 1;
  padding: 1rem 0.75rem;
}

.btn-link {
  display: block;
  color: var(--text-menu-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: max-content;
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition-speed-fast);

  &.add {
    background-color: var(--color-ok);

    &:hover {
      background-color: var(--color-ok-hover);
    }
  }
}

.main-wrapper {
  background-color: var(--bg-content);
  border-radius: 0.5rem;
  padding-inline: 2rem;
  box-shadow: 0 4px 12px var(--shadow-content);
}

.main-header {
  padding-block: 1rem;
  border-bottom: 1px solid var(--border-header-color-1);

  h2 {
    font-size: 2rem;
    color: var(--text-header-color-1);
  }

  span {
    color: var(--text-content-color-1);
  }
}

.main-content {
  padding-block: 1rem;
}

.capitalize {
  text-transform: capitalize;
}

.settings-nav {
  ul {
    display: flex;
    list-style-type: none;
  }

  li.selected a {
    font-weight: 500;
    background-color: var(--bg-content-menu-btn-active);
    color: var(--text-content-menu-btn-active);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: var(--border-content-menu-btn-active);
    }
  }

  a {
    display: block;
    padding: 0.75rem 1rem;
    background-color: var(--bg-content-menu-btn);
    color: var(--text-content-menu-btn);
    text-decoration: none;
    transition:
      background-color var(--transition-speed-fast),
      color var(--transition-speed-fast);

    &:hover {
      background-color: var(--bg-content-menu-btn-hover);
      color: var(--text-content-menu-btn-hover);
    }
  }
}

.settings-content {
  padding-block-start: 1rem;
}

.table-controls {
  margin-block-end: 0.5rem;
}

table {
  border-spacing: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--border-table-1);
  overflow: hidden;
  color: var(--text-table-content-color);

  tr:first-child {
    background-color: var(--primary-color-1);
    color: var(--text-menu-color);
  }

  th {
    font-weight: 400;
    padding-block: 0.5rem;
  }

  td {
    padding: 0.25rem 1rem;
  }

  td:not(:first-child) {
    border-left: 1px solid var(--border-table-1);
  }

  tr:not(:first-child) td {
    border-top: 1px solid var(--border-table-1);
  }

  td {
    font-weight: 500;
    max-width: 15rem;
  }

  td:is(:first-child, :nth-child(2)) {
    word-break: break-all;
  }
}

.tr-controls {
  display: flex;
  gap: 0.75rem;
}

.tbl-btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;

  transition: color var(--transition-speed-fast);
}

.tbl-btn-update {
  color: var(--color-ok);

  &:hover {
    color: var(--color-ok-hover);
  }
}

.tbl-btn-delete {
  color: var(--color-warning);

  &:hover {
    color: var(--color-warning-hover);
  }
}
