@import "../Common/CSS/index.css";

.main-content.dashboard {
  max-width: 70rem;
}

.dashboard-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
  gap: 1rem;
  list-style-type: none;
  width: 100%;
}

.dashboard-item {
  border-radius: 0.5rem;
  padding: 1.5rem 1.5rem;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color-1);
  }
}

.item-header {
  padding-block-end: 0.5rem;
  border-bottom: 1px solid var(--border-header-color-1);
}

.item-content {
  display: flex;
  flex-direction: column;
  margin-block-start: 0.25rem;
}

.item-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--border-header-color-2);
}

.item-detail {
  flex-shrink: 0;
  white-space: nowrap;
  font-weight: bold;
}
