.form-data {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & > * {
    min-width: 0;
  }

  input {
    max-width: 15rem;
  }

  select {
    width: max-content;
  }

  textarea {
    resize: none;
    max-width: 20rem;
    min-height: 5rem;
  }

  input,
  select,
  textarea {
    padding: 0.25rem 0.75rem;
    font: inherit;
    border-radius: 0.25rem;
    border: 1px solid var(--border-input);
    outline: none;

    &:focus {
      border-color: var(--border-input-focus);
    }

    &:user-invalid {
      border-color: var(--color-warning);
    }
  }

  button[type="submit"] {
    border: none;
    border-radius: 0.25rem;
    background-color: var(--color-ok);
    margin-block-start: 0.5rem;
    padding-block: 0.75rem;
    color: var(--text-menu-color);
    font-weight: 500;
    max-width: 6rem;

    &:hover {
      background-color: var(--color-ok-hover);
    }
  }

  .btn-warning[type="submit"] {
    background-color: var(--color-warning);
    width: 6rem;

    &:hover {
      background-color: var(--color-warning-hover);
    }
  }

  @media screen and (max-width: 750px) {
    input,
    select,
    textarea,
    button[type="submit"] {
      max-width: unset;
    }

    button[type="submit"] {
      max-width: unset;
    }
  }
}

.form-data .form-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h3 {
    font-size: 1.5rem;
  }
}

.form-data label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submit-group {
  display: flex;
  gap: 1rem;
  align-items: center;

  span {
    font-weight: 500;
    color: var(--color-ok);
    margin-block-start: 0.5rem;
  }
}
